.button {
  overflow: hidden;
  font-family: 'Optima', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  &:before {
      content: '';
      position:absolute;
      display: block;
      background: var(--ripple-background, #275EFE);
      border-radius: 50%;
      pointer-events: none;

      //  position and size
      top: calc(var(--y) * 1px);
      left: calc(var(--x) * 1px);
      width:  calc(var(--d) * 1px);
      height: calc(var(--d) * 1px);

      //  animated properties
      opacity: calc(var(--o, 1) * var(--ripple-opacity, 0.3));
      transition: calc(var(--t, 0) * var(--ripple-duration, 600ms)) var(--ripple-easing,linear);
      transform: translate(-50%, -50%) scale(var(--s, 1));
      transform-origin: center;
  }
  --ripple-background: rgb(48, 96, 240);
  --ripple-opacity: 0.3;
  --ripple-duration: 600ms;
  position: relative;
  border:none;
  font-size: 1em;
  width: 130px;
  height: 40px;
  border-radius: 6px;
  outline: none;
  background: var(--group-background);
  color: whitesmoke;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.disabled{
  background: #CBD1DC;
  color:white;
}


